body {
	margin: 0;
	font-family: Helvetica;
}

#Container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}

#Logo {
	height: : 80px;
	width: 80px;
}